body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.head {
  width: 100%;
  height: 100px;
  background: #666666;
  display: flex;
  flex-direction: row;
}

h1 {
  color: #FFFFFF;
  align-self: auto;;
}

.up, .in {
  text-decoration: none;
  color: #FFFFFF;
  /*align-self: flex-end;*/
}

.up {
  margin-right: 5px;
}

.links {
  align-self: baseline;;
}
